<footer>
    <mat-divider></mat-divider>
    <section class="footer-body">
        <ul>
            <li>primus Prüfungsmanager <span id="version">{{version}}</span></li>
            <li><a href="#">Dokumentation</a></li>
            <li><a href="#">Info</a></li>
            <li><a routerLink="about">Über die App</a></li>
        </ul>
        <div>
            <a href="https://primus-fremdsprachen.de/" target="_blank">
                <app-logo></app-logo>
            </a>
        </div>
    </section>
</footer>