<mat-toolbar color="primary">
    <button mat-icon-button routerLink="/" aria-label="Start" matTooltip="Start">
      <mat-icon>home</mat-icon>
    </button>
    <span class="nav-spacer"></span>
    <button mat-icon-button aria-label="Suche">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button aria-label="Einstellungen" matTooltip="Einstellungen">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button routerLink="about" aria-label="Informationen" matTooltip="Infos">
      <mat-icon>info</mat-icon>
    </button>
  </mat-toolbar>