<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/" aria-label="Start">
    <app-p-logo></app-p-logo>
  </button>
  <button mat-icon-button routerLink="exam-list" aria-label="Prüfungen" matTooltip="Prüfungen">
    <mat-icon>dashboard</mat-icon>
  </button>
  <span class="nav-spacer"></span>
  <button mat-icon-button aria-label="Suche">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button routerLink="room-list" aria-label="Räume" matTooltip="Räume">
    <mat-icon>meeting_room</mat-icon>
  </button>
  <button mat-icon-button aria-label="Einstellungen" matTooltip="Einstellungen">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button routerLink="about" aria-label="Informationen" matTooltip="Infos">
    <mat-icon>info</mat-icon>
  </button>
</mat-toolbar>